<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="IP" value="10.100.7.18"></add>
		<add key="Port" value="10000"/>
		<add key="Username" value="zn_tdf_l1"/>
		<add key="Password" value="zn_tdf_l1"/>
		<add key="SubScriptions" value=""/>
		<add key="Markets" value="SZ"/>
		<add key="ReconnectCount" value="9999999"/>
		<add key="ReconnectGap" value="5"/>
		<add key="ConnectionID" value="1"/>
		<add key="Date" value="0"/>
		<add key="Time" value="0"/>
		<add key="TypeFlags" value="0"/>
	</appSettings>
</configuration>